@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1a1a1a;
  --secondary: #e5e7eb;
  --tertiary: #616161;
  --quaternary: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

body {
  min-height: 100vh;
  font-family: "Jost", sans-serif;
}
